/*登录界面登录框*/
body{
    background-image: url('../images/bg.jpg');
    background-size:cover;
}
.login-form{
    position: absolute;
    width:260px;
    height:260px;
    top: 50%;
    left:50%;
    margin-top:-130px;
    margin-left: -130px;
    padding:20px;
    background: #fff;
    border-radius: 10px;
}

.login-form .logo{
    width:200px;
    height: 64px;
    background-image: url('../images/logo.png');
    margin-bottom: 10px;
}